.inputField {
   border-style: solid;
   padding: 10px;
   margin-bottom: 10px;


}

.container {

  background-color: black;
  width: 100%;
  text-align: center;
}

.cardContainer{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: yellow;
    text-align: center;
    margin: 10px;
  
}

.cardContainer:hover .longAnswer {
  display: flex;
}

.cardContainer:hover .answer {
  display: flex;
}

.cardContainer:hover .question {
  display: none;
}

.question {
  cursor: pointer;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;

}

.question, .longAnswer, .answer {
  padding: 10px;
}

.longAnswer {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  background-color: white;
  
}

.answer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  background-color: white;
  
}

.buttonDelete {
  background-color: yellow;
}
.cardItem {

  
}
